mixin colors(items = [])
    .colors
        each item in items
            - const opacity = item.opacity || '';
            .colors__item
                .colors__box(style=`background-color: ${item.hex}; opacity: ${opacity}`)
                .colors__info
                    p= `${item.title} ${opacity}`
                    span.colors__hex= item.hex
