mixin checkbox(text, id, checked)
  if (checked === true)
    .checkbox
      input(id=id type='checkbox' checked).checkbox__input
      label(for=id).checkbox__label= text
  else
    .checkbox
      input(id=id type='checkbox').checkbox__input
      label(for=id).checkbox__label= text

mixin checkbox_rich(title, text, id)
  .checkbox.checkbox_rich
    input(id=id type='checkbox').checkbox__input
    label(class="checkbox__title_rich" for=id).checkbox__label= title
      p(class="checkbox__text_rich")= text
