include ../btn/btn
include ../field/field

mixin check-form({ number, lux, payPerDay, serviceCharge, serviceChargeDiscount, additionalServiceCharge, days })
  form.check-form
    .check-form__item
      .check-form__item-group
        h3.check-form__number
          span.check-form__number-icon №
          | #{number}
        if lux
          +btn({text: "Люкс", theme: "link"})
        .check-form__price-default
          b.check-form__price-text 9 990₽
          |  в сутки
    .check-form__item.check-form__item_with-calendar
      .check-form__group-field
        .check-form__field.check-form__field_type-from
          +field({ theme: "with-dropdown", text: "Прибытие", value: "ДД.ММ.ГГГГ" })
        .check-form__field.check-form__field_type-to
          +field({ theme: "with-dropdown", text: "Выезд", value: "ДД.ММ.ГГГГ" })
    .check-form__item.check-form__item_with-guests
      +field({
        theme: "with-dropdown",
        text: "Гости",
        value: "Сколько гостей"
      })
    .check-form__item
      .check-form__conclusion
        span.check-form__text #{payPerDay}₽ х #{days} суток
        span.check-form__text #{payPerDay * days}₽
      .check-form__conclusion
        span.check-form__text.check-form__text_with-info Сбор за услуги: скидка #{serviceChargeDiscount}₽
        span.check-form__text #{serviceCharge}₽
      .check-form__conclusion
        span.check-form__text.check-form__text_with-info Сбор за дополнительные услуги
        span.check-form__text #{additionalServiceCharge}₽
    .check-form__item
      .check-form__final-price
        .check-form__item-group
          .check-form__final-price-text Итого
          .check-form__price-line
          .check-form__final-price-value #{(payPerDay * days) + serviceCharge + additionalServiceCharge - serviceChargeDiscount}₽
    .check-form__item
      +btn({text: "Забронировать", theme: "arrow"})
