mixin field()
  input(class="field")&attributes(attributes)

mixin field-label(text, id)
  label(class="label" for=id)= text
  input(class="field", id=id)&attributes(attributes)
    
mixin field-dropdown(text, id, value)
  label(class="label label_type_dropdown" for=id)= text
  input(class="field field_type_dropdown " id=id, value=value)&attributes(attributes)

mixin field-arrow(text, id)
  .field-wrapper_type_arrow
    input(class="field")&attributes(attributes)  
  
mixin field-masked(text, id)
  input(class="field field_masked", id=id disabled)&attributes(attributes)

mixin field-group(classes, text1, id1, text2, id2, value1, value2)
  div(class=classes + '__group-field')
    div(class=classes + '__field')
      +field-dropdown(text1, id1, value1)&attributes(attributes)
    div(class=classes + '__field')
      +field-dropdown(text2, id2, value2)&attributes(attributes)
