mixin field({theme, id, text, className, value} = '')
  case theme

    when 'with-label'
      div(class=`${className}__field`)
        label(class="label" for=id)= text
        input(class="field", id=id)&attributes(
          attributes)

    when 'with-dropdown'
      div(class=`${className}__field`)
        label(class="label label_type_dropdown" for=id)= text
        input(class="field field_type_dropdown " id=id, value=value)&attributes(attributes)

    when 'with-arrow'
      .field-wrapper_type_arrow
        input(class="field")&attributes(attributes)

    when 'masked'
      div(class=`${className}__field`)
        label(class="label" for=id)= text
        input(class="field field_masked", id=id disabled)&attributes(attributes)

    when 'group'
      div(class=`${className}__group-field`)
        div(class=`${className}__field`)
          +field({theme: 'with-dropdown', text: text.first, id: id.first })&attributes(attributes)
        div(class=`${className}__field`)
          +field({theme: 'with-dropdown', text: text.second, id: id.second })&attributes(attributes)

    default
      input(class="field")&attributes(attributes)
