mixin field({ theme, id, text, className, value } = '')
  case theme

    when 'with-label'
      .field
        label(class="field__label" for=id)= text
        input(class="field__input", id=id)&attributes(attributes)

    when 'with-dropdown'
      .field.field_type_dropdown
        label(class="field__label" for=id)= text
        input(class="field__input" id=id, value=value readonly autocomplete="off")&attributes(attributes)

    when 'with-arrow'
      .field
        .field__wrapper
          input(class="field__input")&attributes(attributes)

    when 'masked'
      .field.field_type_masked
        label(class="field__label" for=id)= text
        input(class="field__input", id=id disabled)&attributes(attributes)

    default
      .field
        input(class="field__input")&attributes(attributes)
